<div class="project-title">ReSHAPE</div>
<div class="project-summary">
    <div class="project-summary__body">
        <div id="reshape-background" class="project-summary__paragraph">
            The <a href="https://sweri.org/" target="_blank">Ecological Restoration Institutes (SWERI)</a> received congressional funding to visualize activities reduce the timber, brush, and other materials that fuel wildfires through a program called <a href="https://twig.reshapewildfire.org/home" target="_blank">ReSHAPE</a>.
        </div>
        <div id="reshape-application" class="project-summary__paragraph">
            To accomplish this, SWERI contracted with <a href="https://www.innovateteam.com/" target="_blank">Innovate! Inc.</a> to develop a web application with an interactive map viewer called TWIG.
        </div>
        <div class="project-summary__paragraph">
            My role in this project centered around research, design, and development of an intuitive and appealing UI/UX for the application, entailing the following functions:
        </div>
        <ol class="project-summary__list">
            <li>Creating personas, user stories, and functional requirements</li>
            <li>Designing interactive wireframes using design patterns for geospatial applications</li>
            <li>Building a theme and customizing components to complement the project's brand guide</li>
            <li>Developing code with team members using an Agile methodology</li>
        </ol>
        <div class="project-summary__paragraph">See the current prototype <a href="https://twig.reshapewildfire.org/twig/" target="_blank" aria-label="link to the TWIG application">here</a>.</div>
        <a href="/assets/reshape_case_study.pdf" target="_blank" class="case-study">
            <div class="case-study__icon">download</div>
            Download a case study for this project. Note: This file is password protected. For the password, please email {{email}}.
        </a>
    </div>
    <figure class="project-summary__highlight">
        <a href="https://twig.reshapewildfire.org/twig/" target="_blank" aria-label="link to the TWIG application">
            <img class="project-summary__img" src="/assets/reshape_screenshot.jpg" alt="Screenshot of the prototype application in production" [attr.aria-labelledby]="'reshape-screenshot-caption'" [attr.aria-describedby]="'reshape-background reshape-application'"/>
        </a>
        <figcaption id="reshape-screenshot-caption" class="project-summary__caption">Screenshot of the prototype application in production<br />&copy; 2024 <a href="https://sweri.org/" target="_blank">SWERI</a> and <a href="https://www.innovateteam.com/" target="_blank">Innovate! Inc.</a></figcaption>
    </figure>
</div>