@use '@angular/material' as mat;

@import "theme";

html, body {
    @include mat.typography-level($portfolio-typography-config, 'body-1');
    background-color: #dfdfdf;
    @media (prefers-color-scheme: dark) {
        background-color: black;
        color: white;
    }
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

a {
    text-decoration: none;
    background-color: black;
    color: mat.get-color-from-palette($portfolio-primary, 600);
    cursor: pointer;
    
    &:hover {
        color: mat.get-color-from-palette($portfolio-primary, 200);
        
        &:visited {
            color: mat.get-color-from-palette($portfolio-primary, 200);
        }
    }

    &:visited {
        color: mat.get-color-from-palette($portfolio-primary, 600);
    }
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.navbar {
    flex: 0 0 auto;
    margin: 0px;
    padding: 10px 25px;
    border-bottom: 4px solid mat.get-color-from-palette($portfolio-primary, 900);
    @media (prefers-color-scheme: dark) {
        border-bottom: 4px solid mat.get-color-from-palette($portfolio-accent, 200);
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__brand {
        @include mat.typography-level($portfolio-typography-config, 'headline-1');
        cursor: pointer;
    }

    &__item {
        @include mat.typography-level($portfolio-typography-config, 'headline-3');
    }
}

.footer {
    flex: 0 0 auto;
    margin: 0px;
    padding: 10px 25px;
    border-top: 2px solid mat.get-color-from-palette($portfolio-primary, 900);
    @media (prefers-color-scheme: dark) {
        border-top: 2px solid mat.get-color-from-palette($portfolio-accent, 200);
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include mat.typography-level($portfolio-typography-config, 'subtitle-2');
}

.sidenav {
    @include mat.typography-level($portfolio-typography-config, 'subtitle-1');
    
    &__menu {
        padding-inline-start: 10px;
        list-style: none;
        margin: 5px 0px;
    }
    
}

.app-body {
    flex: 1 1 auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    &__main {
        flex: 1 0 auto;
        padding: 50px 50px 100px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 50px;
    }

    &__separator {
        flex: 0 0 0px;
        border-left: 2px solid black;
        @media (prefers-color-scheme: dark) {
            border-left: 2px solid white;
        }
    }

    &__intro-text {
        @include mat.typography-level($portfolio-typography-config, 'headline-5');
        width: 100%;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    &__content {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;
        gap: 50px;
    }

    &__header-2 {
        @include mat.typography-level($portfolio-typography-config, 'headline-4');
        margin: 50px 0px 10px;
        padding: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        @media (prefers-color-scheme: dark) {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
    }
}

.component-container {
    flex: 1 1 85%;
    display: flex;
}

.dropdown {
    display: inline-block;
    @include mat.typography-level($portfolio-typography-config, 'button');
    
    text-decoration: none;
    background-color: black;
    color: white;

    @media (prefers-color-scheme: dark) {
        background-color: white;
        color: black;
    }

    &__container {
        position: relative;
    }

    &__button {
        padding: 0px 10px;
        display: inline-block;
        cursor: pointer;
        
        &:hover {
            color: mat.get-color-from-palette($portfolio-primary, 400);

            @media (prefers-color-scheme: dark) {
                color: mat.get-color-from-palette($portfolio-primary, 900);
            }
        }

        &::after {
            display: inline-block;
            vertical-align: middle;
            font-family: 'Material Icons';
            font-size: 24pt;
            content: "keyboard_arrow_down";
        }

        &--expanded {
            color: mat.get-color-from-palette($portfolio-primary, 400);

            @media (prefers-color-scheme: dark) {
                color: mat.get-color-from-palette($portfolio-primary, 900);
            }
            
            &::after {
                content: "keyboard_arrow_up";
            }
        }
    }

    &__menu {
        position: absolute;
        min-width: 100%;
        z-index: 99;

        &--hidden {
            display: none;
            visibility: hidden;
        }

    }

    &__item {
        background-color: mat.get-color-from-palette($portfolio-primary, 900);
        line-height: 50px;
        padding: 0px 10px;
        cursor: pointer;
        
        &:hover {
            background-color: mat.get-color-from-palette($portfolio-primary, 400);
        }

        &:active {
            background-color: mat.get-color-from-palette($portfolio-primary, 400);
        }

        &--selected {
            background-color: mat.get-color-from-palette($portfolio-primary, 400);

            &::after {
                display: inline-block;
                vertical-align: middle;
                font-family: 'Material Icons';
                font-size: 24pt;
                content: "check";
            }
        }
    }
}

.project {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 24px;

    &-title {
        flex: 0 0 auto;
        @include mat.typography-level($portfolio-typography-config, 'headline-2');
        border-bottom: 2px solid mat.get-color-from-palette($portfolio-primary, 400);
    }

    &-summary {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        gap: 50px;

        &__body {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            gap: 24px;
        }

        &__list {
            margin: 0px;
        }

        &__highlight {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            gap: 12px;
        }

        &__img {
            width: 100%;
        }

        &__caption {
            width: 100%;
            @include mat.typography-level($portfolio-typography-config, 'caption');
            text-align: center;
        }
    }
}

.case-study {
    color: white;
    background-color: mat.get-color-from-palette($portfolio-primary, 700);
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;

    &__icon {
        font-family: 'Material Icons';
        font-size: 75px;
        line-height: 75px;
    }

    &:hover {
        color: mat.get-color-from-palette($portfolio-primary, 100);

        &:visited {
            color: mat.get-color-from-palette($portfolio-primary, 100);
        }
    }

    &:visited {
        color: white;
    }

    &:active {
        color: mat.get-color-from-palette($portfolio-primary, 100);
    }
}

// Responsive
$breakpoint-mobile: 700px;
$breakpoint-tablet: 1200px;

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    .app-body {
        &__separator {
            display: none;
            visibility: hidden;
        }
    }

    .sidenav {
        display: none;
        visibility: hidden;
    }

    .project-summary {
        flex-direction: column;
        @include mat.typography-level($portfolio-typography-config, 'body-2');
    }
}

@media (max-width: $breakpoint-mobile) {
    .app-body {
        &__main {
            padding: 25px 25px 50px;
        }

        &__intro-text {
            @include mat.typography-level($portfolio-typography-config, 'headline-6');
        }

        &__intro-line {
            margin: 5px 0px;
        }

        &__separator {
            display: none;
            visibility: hidden;
        }
    }

    .dropdown {
        @include mat.typography-level($portfolio-typography-config, 'caption');
        &__button {
            line-height: 40px;

            &::after {
                font-size: 16pt;
            }
        }

        &__item {
            line-height: 40px;
            
            &::after {
                font-size: 16pt;
            }
        }
    }

    .sidenav {
        display: none;
        visibility: hidden;
    }

    .project-summary {
        flex-direction: column;
        @include mat.typography-level($portfolio-typography-config, 'body-2');
        gap: 24px;
    }
}