:host {
    flex: 1 1 650px;
    padding: 0px 100px;
    margin: 0px 100px;
    border-left: 2px solid black;
    @media (prefers-color-scheme: dark) {
        border-left: 2px solid white;
    }
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@media (min-width: 700px) and (max-width: 1200px) {
    :host {
        padding: 0px;
        margin: 0px;
        border-left: none;
        gap: 50px;
    }
}

@media (max-width: 700px) {
    :host {
        padding: 0px;
        margin: 0px;
        border-left: none;
        gap: 50px;
    }
}